* {
	margin: 0; 
	padding: 0 
} 
body{
/* 	max-width: 90%;
    margin: 0 auto; */
}
.nav-bar >li{
	display: inline;
	text-decoration: none;
	padding: 30px;
	color: white;

}
.nav-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-family: Oswald;
	letter-spacing: 4px;
	/* font-weight: 500; */
}
.nav-bar > li > a{
	color: white;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	/* color: white; */
}
.top{
	background-image: url("SiteImages/background.png");
}
.nav-background {
	/* width: 800px; */
	/* height: 10px; */
}
.nav-titlebox{
	height: 300px;
	text-align: left;
	margin-left: 80px;
	display: block;
}
.nav-titlebox > p{
	color: white;
}

.icons{
	display: flex;
	flex-direction: row;
	/* padding: 10px; */
	max-width: 10px;
	/* width: 100%; */
}
.github{
	width: 30px;
	height: 30px;
	padding-right: 10px;
	/* padding: 10px; */
}
.resume{
	width: 30px;
	height: 30px;
	padding-right: 10px;
	/* padding: 10px; */

}
.nav-titlebox-company{
	text-transform: uppercase;
	font-size: 60px;
	font-family: Oswald;
	margin-bottom: 0;
	

	/* Barlow+Semi+Condensed|Domine|Dosis|Oswald|Vollkorn+SC */

/* Libre+Barcode+39+Text */
}
.nav-titlebox-description{
	margin-bottom: 10px; 
	/* font-family: Barlow Semi Condensed; */
	/* 'Libre Barcode 39 Text', 'cursive'; */
/* 	height: 30px; */
	/* margin-top: 0;
	font-size: 25px; */
	/* letter-spacing: 3px; */
}
.box{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}

.title{
	font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    /* letter-spacing: 1px; */
    font-size: 30px;

    text-transform: uppercase;
}


.aboutme-picture>img{
	width: 200px;
	float: right;
}