* {
	margin: 0; 
	padding: 0 
} 
body{
	/* f5f5f5 */
	
/* 	max-width: 90%;
    margin: 0 auto; */
}
.separator-bottom::before{
	    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: white;
    border-width: 32px 0 0 900px;
    border-width: 32px 0 0 50vw;
    border-left-width: 900px;
    border-left-width: 50vw;
    position: absolute;
    z-index: 9;
        border-left-color: transparent;
    border-right-color: transparent;
    right: 50%;
}
.separator-bottom::after{
	content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: white;
    border-width: 32px 0 0 900px;
    border-width: 32px 0 0 50vw;
    border-left-width: 900px;
    border-left-width: 50vw;
    position: absolute;
    z-index: 9;
        border-left-color: transparent;
    border-right-color: transparent;
    left: 50%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.triangle{

width: 100px;
    height: 100px;
    background: red;
    /* width: 150px; */
    position: absolute;
    border: 1px solid #e3e9ef;
    left: 44%;
    top: 332px;
    transform: rotate(45deg);
    background: white;
    border-left: white;
    border-top: white;
    /* border-left: 112px solid transparent; */
    /* margin: 0 auto; */
    /* border-left: 112px solid transparent; */
/* /*     /* width: 90px; */
 /*    height: -490px;
    border-left: 300px solid transparent;
    border-right: 290px solid transparent;
    border-top: 100px solid white; */
    /* margin: 0 auto; */
   /*  left: 45%;
    width: 100px;
	height: 100px;
    text-align: center;
 
    position: absolute;  */

    /* 	    position: absolute;
    margin: auto;
    top: -70px;
    left: 0;
    right: 0; */
/*     width: 137px;
    height: 137px; */
/*     transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); */
 /*    border-right: 4px solid #e74c3c;
    border-bottom: 4px solid #e74c3c; */
}
.nav-bar >li{
	display: inline;
	text-decoration: none;
	padding: 30px;
	color: black;

}
.nav-bar{

	display: flex;
	flex-direction: row;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	/* padding: 20px; */
	font-family: bebasneueregular;
`
	letter-spacing: 4px;
	/* font-weight: 500; */
}
.nav-bar > li> a:hover{
	color: #eaa835;
	-webkit-transition-duration: width .2s; /* Safari */
	transition-duration:.2s;

}

.nav-bar > li > a{
	color: black;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	/* color: white; */
}
.top{
	/* background-image: url("SiteImages/background.png"); */
	background-color: white; 
	/* width: 10000px; */
}
.nav-background {
	/* height: 420px; */
	/* width: 800px; */
	/* height: 10px; */
}
.nav-titlebox{
	height: 250px;
	padding-top: 50px;
	text-align: left;
	margin-left: 80px;
	display: block;
}
.nav-titlebox > p{
	color: black;
}

.icons{
	display: flex;
	flex-direction: row;
	/* padding: 10px; */
	max-width: 10px;
	/* width: 100%; */
}
.github{
	width: 40px;
	height: 40px;
	padding-right: 10px;
	/* padding: 10px; */
}
.resume{
	width: 40px;
	height: 40px;
	padding-right: 10px;
	/* padding: 10px; */

}
.nav-titlebox-company{
	text-transform: uppercase;
	font-size: 80px;
	font-family: Oswald;
	margin-bottom: 0;
	

	/* Barlow+Semi+Condensed|Domine|Dosis|Oswald|Vollkorn+SC */

/* Libre+Barcode+39+Text */
}
.nav-titlebox-description{
	margin-bottom: 10px; 
	font-family: bebasneueregular;
	
	font-size: 30px;
	/* font-family: Barlow Semi Condensed; */
	/* 'Libre Barcode 39 Text', 'cursive'; */
/* 	height: 30px; */
	/* margin-top: 0;
	font-size: 25px; */
	/* letter-spacing: 3px; */
}


.box{
	background: #f7f9fb;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;
	flex-direction: row;
	align-items: center;

}
.tools{
	padding-top: 0px;
}
.wide-box{
	margin: 0 auto;
    padding-top: 120px;
    max-width: 1050px;
	padding-bottom: 70px;
	
}
.projects{
	/* 	display: flex;

	flex-direction: row; */
}
#aboutme{
	background: white;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 40px;
	padding-bottom: 80px;
	padding-top: 80px;

}
.project{	
	background: white;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 10px;
    /* padding: 30px; */
}
.me{
	position: absolute;
	height: 125px;
	margin-left: 950px;
	margin-top: -70px;
}
.languages-description{
	background: white;
    /* border-bottom: 1px solid #ddd; */
    background-color: #fff;
    margin-bottom: 10px;
    padding: 30px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
}
.tool-description{
		background: white;
    /* border-bottom: 1px solid #ddd; */
    background-color: #fff;
    margin-bottom: 10px;
    padding: 30px;
    padding-top: 0px;
    display: flex;
    justify-content: center;

}
.tool>img{

	width: 80px;
	height: 80px;
	padding: 30px;
}
.language >img{
	width: 80px;
	height: 80px;
	padding: 30px;

}
/* .java>img{
	width: 100px;
	height: 100px;
}
.python>img{
	width: 150px;
	height: 95px;
}
.htmllogo >img{
	width: 100px;
	height: 100px;
}

.csslogo >img{
	width: 70px;
	height: 100px;
}
.csharp >img{
	width: 150px;
	height: 150px;
} */


.contact{
		background: white;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 40px;
}
.gray{
	background: rgb(246, 246, 246);
	padding: 60px;

	padding-bottom: 110px;
	border-bottom-width: 1px;
    border-color: #e3e9ef;
    border-style: solid;
    /* position: relative; */

	/* display: flex; */
}
.title{
	text-align: center;

	/* background: rgb(246, 246, 246); */
}
.title-center{
	    margin-bottom: -20px;
    line-height: 1;
    /* position: absolute; */
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    background: #FFD600;
    color: #ffffff;
    box-shadow: 0px 0px 0px 3px #eaa835;
  	background-color: #eaa835;
    border: 4px solid #ffffff;
    padding: 10px;
 	font-family: 'bebasneueregular', sans-serif;
    letter-spacing: 0.07em;
	font-size: 45px;
}
.footer{
	background: rgb(246, 246, 246);
	height: 100px;
}
.title-over {
    margin-bottom: -20px;
    line-height: 1;
    position: absolute;
    margin-left: 10%;
    /* display: inline-block; */
    padding: 10px;
    text-transform: uppercase;
    background: #FFD600;
    color: #ffffff;
    box-shadow: 0px 0px 0px 3px #eaa835;
  	background-color: #eaa835;
    border: 4px solid #ffffff;
    padding: 10px;
    font-family: 'bebasneueregular', sans-serif;
    letter-spacing: 0.07em;
	font-size: 45px;
	width: 160px;
	/* font-family: 'Ubuntu Condensed', sans-serif; */
	/* color: #576f7f; */
	/* text-transform: uppercase; */
    /* font-weight: 700; */
   /*  text-align: center;
    padding: 40px;
    margin: 0 auto;
    ;max-width: 800px */
}
#projects{
	color:#576f7f;
}
.title{
	font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;

    text-align: center;
    /* letter-spacing: 1px; */
    padding: 40px;
    font-size: 30px;
    
	/* border: 1px solid #ddd; */

	

    text-transform: uppercase;
}
.aboutme-description{

    font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
    letter-spacing: .05em;
    font-weight: lighter;
    /* letter-spacing: .1em; */
}
.work-description{
	font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
    letter-spacing: .05em;
    font-weight: lighter;
}
#work{
	background: white;
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 40px;
	padding-bottom: 80px;
	padding-top: 80px;
}
.project-title{
    font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 20px;
}
.projects-top{

	margin: 0 auto;
	justify-content: center;
	/* width: 1210px; */
	display: flex;
	flex-direction: row;
	padding-bottom: 40px;
	max-width: 860px;
}
.action-card{
	padding: 10px;
}
.logo-nav{
	align-items: left;

}
.top-nav{
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid #f0f0f0;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	/* padding: 20px; */
	font-family: Oswald;
	letter-spacing: 4px;
}
.learn-more{
	    background: #fcfdfe;
    border-color: #e3e9ef;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}
.learn-more {
	text-transform: uppercase;
	font-family: bebasneueregular;
	 letter-spacing: .08em;
	color: black;

}
.learn-more:hover{

	color: #eaa835;
	-webkit-transition-duration: width .2s; /* Safari */
	transition-duration:.2s;
}
}
.projects-bottom{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	/* width: 1210px; */
	padding-bottom: 40px;
	flex-direction: column;
}
.intra{
	/*     padding: 24px;
    color: #576f7f;
    font-weight: 400;
    margin-bottom: 0; */
}
.project{
	
    /* padding: 24px; */
    color: #576f7f;
    font-weight: 400;
    margin-bottom: 0;
    background: #fff;
    border-color: rgba(0,39,69,0.11);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 7px rgba(0,33,60,0.04);
    overflow: hidden;
    position: relative;
    z-index: 1;

}
#languages{
	    color: #576f7f;
    font-weight: 400;
    margin-bottom: 0;
    background: #fff;
    border-color: rgba(0,39,69,0.11);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 7px rgba(0,33,60,0.04);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.flex-project{
	display: flex;
	padding: 30px;
}
.project-desc{
    font-family: 'Source Sans Pro', sans-serif;   
    letter-spacing: .05em;
    font-size: 14px;
    font-weight: lighter;
}
.logo{
	width: 105px;
	height: 105px;
	padding-right: 20px;
}
.project{
	align-items: center;
	/* display: flex; */
	/* flex-direction: column; */
}
.projecttop{
	display: flex;
	flex-direction: column;

}
.project-title{
	  text-transform: uppercase;
	  padding-bottom: 10px;

}
.aboutme-picture>img{
	width: 200px;
	float: right;
}
.aboutme{
	

}
.aboutme-picture{
	align-items: center;
}
.aboutme-picture>img{
	    padding-left: 30px;
}

.coarse{
	padding-top: 0;

}

.contact-description{
	max-width: 350px;
	margin: 0 auto;
	/* position: absolute; */
    /* top: 230%; */
    /* top: 373%; */
    /* top: 200px; */
    /* left: 42%; */
}
.contact{
	    font-family: 'Source Sans Pro', sans-serif;
   
    font-size: 16px;
    letter-spacing: .05em;
}